#main > .container {
	padding-top: 60px;
}

.non-wrapped-text {
	white-space: pre; 
	word-wrap: break-word;	
}

.user-thumbnail {
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.user-thumbnail-chat {
	border-radius: 3px;
	margin-left: 3px;
	margin-right: 3px;
	position: relative;
	top: -3px;
}

.uneditable-textarea {
	min-height: 18px;
}

.user-header {
	border-radius: 2px;
	margin-left: 5px;
}

.user-intro {
	border-radius: 10px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}

.camunda-book {
	border-radius: 5px;
	float: right;
	margin-left: 10px;
}

hr {
	border-top: 1px solid #DDD;
}

button.btn, input[type="submit"].btn {
	margin-right: 3px;
	margin-left: 3px;
}

.table td {
	vertical-align: middle;
}

.table td.column-narrow {
	width: 100px;
	white-space: nowrap;
	text-align: center;
}

.table th.column-narrow {
	width: 100px;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}

.tab-icon {
	margin-right: 3px;
}

.connect_widget_like_button {
	height: 20px;
}

.preserve-breaks pre {
	display: none;
}

#published-announcement-header-title {
	float: left;
}

#published-announcement-header-networks {
	float: right;
	position: relative;
	top: 2px;
	left: 3px;
}

#published-announcement-header-manager {
	clear: both;
}	

#published-announcement-header-requirements {
	clear: both;
	margin: 5px; 
	margin-top: 20px;
	margin-bottom: 10px;
}

#published-announcement-requirements {
	padding: 10px;
}

.badge-important {
	color: black;
	background-color: rgb(235, 235, 235);
	position: relative;
	top: -1px;
}

h1 {
	margin-bottom: 20px;
}

.alert-info {
    color: #3A87AD;
    background-color: #EFFAFF;
    border-color: #BCE8F1;
}

.dl-horizontal dt {
	width: 160px;
}

.dl-horizontal dd {
	margin-left: 170px;
}

.marketing .bs-icon {
	float: left;
	margin: 7px 10px 0 0;
	border-radius: 2px;
	opacity: .8;
}

h1 {
	margin: 36px 0 27px;
	font-weight: 300;
	font-size: 30px;
}

h2 {
	background-color: transparent;
	color: #333;
	font-size: 22px;
	font-weight: 300;
	height: 36px;
	line-height: 36px;
	width: 370px;
}

.marketing h1 {
	font-size: 40px;
	text-align: center;
}

.marketing p {
	margin-right: 10px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
 	-ms-hyphens: auto;
 	hyphens: auto;
}

.marketing-byline {
	margin: -18px 0 27px;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	color: #999;
	text-align: center;
}
