/* Sticky Footer for Twitter Bootstrap adapted from here: https://gist.github.com/1855032 */

html, body, form {
	height: 100%;
}

#main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -75px;
}

.push {
    height: 75px;
}
